.itemWindow {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    color: white;
    display: flex;
}

.itemContent {
    width: 100%;
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 15%;
    padding-right: 10%;
}

.itemTop {
    position: relative;
    top: 0;
    z-index: 10;
    width: 100%;
    max-width: 1000px;
    min-height: 55vh;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 60px 0 40px 0;
    box-sizing: border-box;
}
.itemDescriptionBlock {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0 80px 0;
    box-sizing: border-box;
}

.itemImageBlock {
    flex: 0 0 400px;
}

.itemImage {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    background-color: #323232;
    flex-shrink: 0;
}

.itemPanel {
    max-width: 500px;
    width: 100%;
}

.itemPageTitle {
    margin: 0 0 16px;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.itemPagePrice {
    padding: 0 0 5% 0;
    font-size: 24px;
    font-weight: bold;
    color: #2E4578;
}

.Description {
    padding: 0 0 16px 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    color: #d0d0d0;
}

.itemDescription {
    font-size: 20px;
    line-height: 1.5;
    color: #d0d0d0;
}
.toCartButton {
    width: 120px;
    padding: 12px;
    border: 2px solid #2E4578;
    border-radius: 12px;
    background: #0f1112;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.toCartButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px #2E4578;
}

.toCartButton:active {
    transform: translateY(2px);
}
.textDotsButton {
    padding: 0 0 0 4px;

    border: none;
    background: transparent;

    color: #4f7cff;
    font: inherit;
    font-weight: bold;

    cursor: pointer;
}

.textDotsButton:hover {
    color: #2E4578;
    text-decoration: underline;
}

.textCollapseButton {
    margin-left: 8px;
    padding: 0;

    border: none;
    background: transparent;

    color: #4f7cff;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

.textCollapseButton:hover {
    color: #2E4578;
    text-decoration: underline;
}

@media (max-width: 900px) {
    .itemContent {
        padding-left: 30%;
        padding-right: 5%;
    }

    .itemImage {
        width: 280px;
        height: 280px;
    }

    .itemPanel {
        max-width: 280px;
    }

    .itemDescriptionBlock {
        max-width: 280px;
    }
}