@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 400px;
    width: 100%;
    overflow-x: hidden;
    background: radial-gradient(#151819, #000000);
}
a{
    text-decoration: none;
    color: inherit;
}