@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html,
body,
#root {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: radial-gradient(#181818, #000000);
}

* {
    box-sizing: border-box;
}

.App {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.pageContent {
    flex: 1;
    width: 100%;
    min-width: 0;
    min-height: 100vh;

    margin: 0;
    padding: 0;
}